<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>


    
    <div id = "app">
        <button @click="set('add')" onclick="showAdd(),add()">+</button>
        <button @click="set('minus')" onclick="showMinus(),minus()">-</button>
        <button @click="set('mul')" onclick="showMul(),mul()">*</button>
        <button @click="set('div')" onclick="showDiv(),div()">/</button>
        <br>
        <h1 id="demo">การบวก</h1>
        
        <input type = "number" v-model="number1">
        <label id="demo1">+</label>
        <input type = "number" v-model="number2">
        =
       
        <template v-if="n =='add'">
            {{ isAdd }}
        </template>
        <template v-else-if="n =='minus'">
            {{ isMinus }}
        </template>
        <template v-else-if="n =='mul'">
            {{ isMul }}
        </template>
        <template v-else-if="n =='div'">
            {{ isDiv }}
        </template>
        <template v-else>
            {{ isAdd }}
        </template>


    </div>

    <script>
        function showAdd() {
        document.getElementById("demo").innerHTML = "การบวก";
        }
        function showMinus() {
        document.getElementById("demo").innerHTML = "การลบ";
        }
        function showMul() {
        document.getElementById("demo").innerHTML = "การคูณ";
        }
        function showDiv() {
        document.getElementById("demo").innerHTML = "การหาร";
        }
    </script>

    <script>
        function add() {
        document.getElementById("demo1").innerHTML = "+";
        }
        function minus() {
        document.getElementById("demo1").innerHTML = "-";
        }
        function mul() {
        document.getElementById("demo1").innerHTML = "*";
        }
        function div() {
        document.getElementById("demo1").innerHTML = "/";
        }
    </script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                n:'',
                number1: 0,
                number2: 0,
                result: 0
            },
            methods: {
                set: function (N) {
                    this.n = N
                }
            },
            computed: {
                isAdd: function() {
                    return parseInt(this.number1)+
                   parseInt(this.number2);

                },
                isMinus: function() {
                    return parseInt(this.number1)-
                   parseInt(this.number2);
                },
                isMul: function() {
                    return parseInt(this.number1)*
                   parseInt(this.number2);
                },
                isDiv: function() {
                    return parseInt(this.number1)/
                   parseInt(this.number2);
                }
            }

        });

    </script>

</body>
</html>
